<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>InviteeName</key>
		<string>Vikas Jain</string>
		<key>AddressLine1</key>
		<string>Cafe Coffee Day - PVR Lounge, Ambience Mall</string>
		<key>AddressLine2</key>
		<string>Pvr Lounge, 3rd Floor, Ambience Mall, Ambience Island, Gurgaon, Haryana 122002 ‎</string>
		<key>Datetime</key>
		<string></string>
	</dict>
	<string></string>
	<string></string>
</array>
</plist>
